:root {
	--bg: #1e1e1e;
	--color: #daebe6;
	--primary: #42BBA7;
	--strong: #2a8878;
	--stronger: #1f6e61;
}

h1 {
	font-size: 24px;
}

.wrapper {
	background: var(--bg) url("../pattern.png") center center/35px 35px;
	color: var(--color);
	height: 100%;
}

.modal-container {
	max-width: 500px;
	width: calc(100% - 30px);
	min-width: 300px;
	max-height: calc(100% - 40px);
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 20px;
	border-radius: 20px;
	background-color: #2c2c2c;
	transition: opacity 200ms 200ms;
}

.description {
	text-align: center;
	opacity: 0.5;
	margin: 12px 0 0 0;
	line-height: 1.5;
	font-size: 12px;
}

.film {
	padding: 20px 20px 20px 32px;
	background-color: #474747;
	border-radius: 8px 20px 20px 8px;
	font-weight: 600;
	position: relative;
}

.film .color-item {
	width: 40px;
	font-size: 20px;
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	left: -20px;
}

.film.film_watched {
	opacity: 0.35;
	position: relative;
}

.film.film_watched::before {
	content: 'ПРОСМОТРЕНО';
	padding: 4px;
	background-color: var(--primary);
	color: var(--color);
	position: absolute;
	top: -5px;
	font-size: 10px;
	border-radius: 4px;
	right: 10px;
}

.film__name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.modal-content {
	width: 100%;
	margin: 24px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.hidden {
	transition: opacity 200ms;
	opacity: 0;
	visibility: hidden;
}

.getting-started .button {
	width: 100%;
}

.button {
	border-radius: 20px;
	background-color: var(--primary);
	padding: 20px 40px;
	font-weight: 500;
	font-size: 16px;
	color: #275248;
	transition: 150ms;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

@media (hover: hover) and (pointer: fine) {
	.button:hover {
		background-color: var(--strong);
	}
}

.button:active {
	background-color: var(--stronger);
	color: #7abbac;
}

input {
	font-size: 20px;
	font-weight: 600;
	border-radius: 20px;
	padding: 20px 24px;
	background-color: #4b4b4b;
	color: var(--color);
	border: 2px solid transparent;
}

input.error {
	background-color: #4d3f3f;
	border-color: #db6060;
}

.pick-color .modal-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

.color-item {
	flex: 0 0 calc(25% - (20px - 20px/4));
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	font-size: 24px;
}

.color-item-1 {
	background-color: #e95555;
	color: #442f2f;
}

.color-item-2 {
	background-color: #e99555;
	color: #4c3f37;
}

.color-item-3 {
	background-color: #e9d355;
	color: #52523c;
}

.color-item-4 {
	background-color: #64e955;
	color: #374c36;
}

.color-item-5 {
	background-color: #55e9c7;
	color: #364e4b;
}

.color-item-6 {
	background-color: #5569e9;
	color: #36374e;
}

.color-item-7 {
	background-color: #9f55e9;
	color: #44364e;
}

.color-item-8 {
	background-color: #e755e9;
	color: #4e364a;
}

.pick-color .button {
	margin: 24px 0 0 0;
}

.color-item.picked {
	outline: 2px solid var(--primary);
	outline-offset: 4px;
}

.loader {
	width: 16px;
	height: 16px;
	border: 4px solid #275248;
	border-right-color: transparent;
	border-radius: 50%;
	animation: rotate 1s linear infinite;
}

.container {
	padding: 0 15px;
}

.wrapper-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

.wrapper-loader .loader {
	width: 40px;
	height: 40px;
	border-width: 10px;
	border-color: var(--color);
	border-right-color: transparent;
}

.content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result__body {
	width: 100%;
}

.result__container {
	transition: 1000ms;
	scale: 1;
	color: var(--color);
}

.result__container.hidden {
	scale: 0.5;
}

.pick-film .modal-content {
	padding: 5px 12px 10px 20px;
	overflow: auto;
}

.choose-partner > .button,
.whats-next > .button,
.pick-film > .button {
	margin: 20px 0 0 0;
}

.modal-container.pen {
	pointer-events: none;
	opacity: 0.8;
}

.header-profile {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
	gap: 20px;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 101;
	transition: 500ms;
}

.header-profile .button {
	opacity: 0;
	visibility: hidden;
	background-color: #e05b5b;
	color: #912323;
}

.header-profile.active .button {
	opacity: 1;
	visibility: visible;
}

.header-profile__name {
	display: flex;
	gap: 16px;
	align-items: center;
}

.header-profile__name span {
	font-weight: 600;
	font-size: 16px;
}

.header-profile.active {
	padding: 20px;
	background-color: #2c2c2c;
	border-radius: 20px;
}

.header-profile .color-item {
	width: 40px;
	flex: 0 1 auto;
	font-size: calc(24px * 4/5);
}

.pick-account__loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	font-weight: 600;
	font-size: 16px;
	color:rgba(255, 255, 255, 0.25);
}

.modal-content.pick {
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding: 0 12px 0 0 ;
	gap: 4px;
}

.pick-account > .button {
	margin: 20px 0 0 0;
}

.user {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px;
	border-radius: 20px;
	background-color: #484848;
	border: 2px solid transparent;
}

.user.picked {
	border-color: var(--primary);
}

.user .color-item {
	flex: 0 0 40px;
	font-size: 19.2px;
}

.user__name {
	font-size: 20px;
	font-weight: 600;
}

.nm {
	margin: 0;
}

.pick-account__loading .loader {
	width: 28px;
	height: 28px;
	border-width: 7px;
	border-color: rgba(255, 255, 255, 0.25);
	border-right-color: transparent;
}

.dn {
	display: none;
}

@keyframes rotate {
	to {
		rotate: 360deg;
	}
}

.error-message {
	margin: 12px 0 0 0;
	color: #e84a4a;
	padding: 8px;
	border-radius: 4px;
	background-color: #573333;
	transition: 250ms;
}

.result > .button {
	transition: opacity 500ms;
}

.result__body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	margin: 0 0 0 20px;
}

.result__container {
	width: calc(100% - 30px);
}

.buttons {
	display: flex;
	gap: 8px;
}

.result {
	z-index: 102;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 15px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.result__body {
	position: relative;
}

.result__placeholder {
	color: var(--primary);
	font-weight: 900;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	animation: 0.45s shake infinite, rotate 2s infinite;
	transition: 500ms;
}

.result__placeholder-1 {
	font-size: 60px;
	rotate: -30deg;
	translate: calc(-50% - 60px) -30%;
	animation-duration: 0.4s;
	animation-delay: 0.1s;
}

.result__placeholder-2 {
	font-size: 96px;
}

.result__placeholder-3 {
	font-size: 60px;
	rotate: 30deg;
	translate: calc(-50% + 60px) -30%;
	animation-duration: 0.6s;
	animation-delay: 0.4s;
}

@keyframes shake {
	0%, 100% {
		top: 50%;
		left: 50%;
	}
	10%, 50% {
		top: calc(50% - 1px);
		left: calc(50% + 3px);
	}
	20%, 60% {
		top: calc(50% - 3px);
		left: calc(50% - 1px);
	}
	30%, 70% {
		top: calc(50% + 1px);
		left: calc(50% - 4px);
	}
	40%, 80% {
		top: calc(50% - 3px);
		left: calc(50% + 1px);
	}
	50%, 90% {
		top: calc(50% + 2px);
		left: calc(50% - 5px);
	}
}